.Toolbar {
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #353535;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}

.Toolbar nav {
  height: 100%;
}

.LogoSection {
  height: 80%;
  display: flex;
  flex-direction: row;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}
